In [3]:
from pyspark.sql import SparkSession
from pyspark.ml import Pipeline

ImportError: cannot import name 'BinaryClassificationEvaluato' from 'pyspark.ml.evaluation' (C:\Users\edmon\anaconda3\Lib\site-packages\pyspark\ml\evaluation.py)

In [4]:
spark = SparkSession.builder.appName("CreditScorePrediction").getOrCreate()

In [5]:
train_file_path = "project_4_credit_score_predictor-main/project_4_credit_score_predictor-main/cleaned/train.csv"
test_file_path = "project_4_credit_score_predictor-main/project_4_credit_score_predictor-main/cleaned/test.csv"

In [6]:
train_df = spark.read.csv(train_file_path, header=True, inferSchema=True)
test_df = spark.read.csv(test_file_path, header=True, inferSchema=True)

In [8]:
print("Train Data Schema:")
train_df.printSchema()

print("First 5 rows of Train Data:")
train_df.show(5)

Train Data Schema:
root
 |-- Customer_ID: integer (nullable = true)
 |-- Month: integer (nullable = true)
 |-- Age: double (nullable = true)
 |-- Occupation: string (nullable = true)
 |-- Annual_Income: double (nullable = true)
 |-- Monthly_Inhand_Salary: double (nullable = true)
 |-- Num_Credit_Card: double (nullable = true)
 |-- Interest_Rate: double (nullable = true)
 |-- Num_of_Loan: double (nullable = true)
 |-- Type_of_Loan: string (nullable = true)
 |-- Num_of_Delayed_Payment: double (nullable = true)
 |-- Changed_Credit_Limit: double (nullable = true)
 |-- Num_Credit_Inquiries: double (nullable = true)
 |-- Credit_Mix: string (nullable = true)
 |-- Outstanding_Debt: double (nullable = true)
 |-- Credit_Utilization_Ratio: double (nullable = true)
 |-- Credit_History_Age: double (nullable = true)
 |-- Payment_of_Min_Amount: string (nullable = true)
 |-- Total_EMI_per_month: double (nullable = true)
 |-- Payment_Behaviour: string (nullable = true)
 |-- Monthly_Balance: double (nullable = true)
 |-- Credit_Score: string (nullable = true)

First 5 rows of Train Data:
+-----------+-----+----+----------+-------------+---------------------+---------------+-------------+-----------+--------------------+----------------------+--------------------+--------------------+----------+----------------+------------------------+------------------+---------------------+-------------------+--------------------+------------------+------------+
|Customer_ID|Month| Age|Occupation|Annual_Income|Monthly_Inhand_Salary|Num_Credit_Card|Interest_Rate|Num_of_Loan|        Type_of_Loan|Num_of_Delayed_Payment|Changed_Credit_Limit|Num_Credit_Inquiries|Credit_Mix|Outstanding_Debt|Credit_Utilization_Ratio|Credit_History_Age|Payment_of_Min_Amount|Total_EMI_per_month|   Payment_Behaviour|   Monthly_Balance|Credit_Score|
+-----------+-----+----+----------+-------------+---------------------+---------------+-------------+-----------+--------------------+----------------------+--------------------+--------------------+----------+----------------+------------------------+------------------+---------------------+-------------------+--------------------+------------------+------------+
|       3392|    1|23.0| Scientist|     19114.12|   1824.8433333333328|            4.0|          3.0|        4.0|auto loan,credit-...|                   7.0|               11.27|                 4.0|      Good|          809.98|      26.822619623699016|             265.0|                   No|  49.57494921489417|High_spent_Small_...|312.49408867943663|        Good|
|       3392|    2|23.0| Scientist|     19114.12|   1824.8433333333328|            4.0|          3.0|        4.0|auto loan,credit-...|                   4.0|               11.27|                 4.0|      Good|          809.98|       31.94496005538421|             266.0|                   No|  49.57494921489417|Low_spent_Large_v...|284.62916249607184|        Good|
|       3392|    3|23.0| Scientist|     19114.12|   1824.8433333333328|            4.0|          3.0|        4.0|auto loan,credit-...|                   7.0|               11.27|                 4.0|      Good|          809.98|       28.60935202206993|             267.0|                   No|  49.57494921489417|Low_spent_Medium_...| 331.2098628537912|        Good|
|       3392|    4|23.0| Scientist|     19114.12|   1824.8433333333328|            4.0|          3.0|        4.0|auto loan,credit-...|                   4.0|                6.27|                 4.0|      Good|          809.98|      31.377861869582357|             268.0|                   No|  49.57494921489417|Low_spent_Small_v...|223.45130972736786|        Good|
|       3392|    5|23.0| Scientist|     19114.12|   1824.8433333333328|            4.0|          3.0|        4.0|auto loan,credit-...|                   4.0|               11.27|                 4.0|      Good|          809.98|      24.797346908844982|             269.0|                   No|  49.57494921489417|High_spent_Medium...|341.48923103222177|        Good|
+-----------+-----+----+----------+-------------+---------------------+---------------+-------------+-----------+--------------------+----------------------+--------------------+--------------------+----------+----------------+------------------------+------------------+---------------------+-------------------+--------------------+------------------+------------+
only showing top 5 rows

In [9]:
print("Test Data Schema:")
test_df.printSchema()

print("First 5 rows of Test Data:")
test_df.show(5)

Test Data Schema:
root
 |-- Customer_ID: integer (nullable = true)
 |-- Month: integer (nullable = true)
 |-- Age: double (nullable = true)
 |-- Occupation: string (nullable = true)
 |-- Annual_Income: double (nullable = true)
 |-- Monthly_Inhand_Salary: double (nullable = true)
 |-- Num_Credit_Card: double (nullable = true)
 |-- Interest_Rate: double (nullable = true)
 |-- Num_of_Loan: double (nullable = true)
 |-- Type_of_Loan: string (nullable = true)
 |-- Num_of_Delayed_Payment: double (nullable = true)
 |-- Changed_Credit_Limit: double (nullable = true)
 |-- Num_Credit_Inquiries: double (nullable = true)
 |-- Credit_Mix: string (nullable = true)
 |-- Outstanding_Debt: double (nullable = true)
 |-- Credit_Utilization_Ratio: double (nullable = true)
 |-- Credit_History_Age: double (nullable = true)
 |-- Payment_of_Min_Amount: string (nullable = true)
 |-- Total_EMI_per_month: double (nullable = true)
 |-- Payment_Behaviour: string (nullable = true)
 |-- Monthly_Balance: double (nullable = true)

First 5 rows of Test Data:
+-----------+-----+----+----------+-------------+---------------------+---------------+-------------+-----------+--------------------+----------------------+--------------------+--------------------+----------+----------------+------------------------+------------------+---------------------+-------------------+--------------------+------------------+
|Customer_ID|Month| Age|Occupation|Annual_Income|Monthly_Inhand_Salary|Num_Credit_Card|Interest_Rate|Num_of_Loan|        Type_of_Loan|Num_of_Delayed_Payment|Changed_Credit_Limit|Num_Credit_Inquiries|Credit_Mix|Outstanding_Debt|Credit_Utilization_Ratio|Credit_History_Age|Payment_of_Min_Amount|Total_EMI_per_month|   Payment_Behaviour|   Monthly_Balance|
+-----------+-----+----+----------+-------------+---------------------+---------------+-------------+-----------+--------------------+----------------------+--------------------+--------------------+----------+----------------+------------------------+------------------+---------------------+-------------------+--------------------+------------------+
|       3392|    9|23.0| Scientist|     19114.12|   1824.8433333333328|            4.0|          3.0|        4.0|auto loan,credit-...|                   7.0|               11.27|                 4.0|      Good|          809.98|       35.03040185583525|             273.0|                   No|  49.57494921489417|Low_spent_Small_v...|186.26670208571772|
|       3392|   10|24.0| Scientist|     19114.12|   1824.8433333333328|            4.0|          3.0|        4.0|auto loan,credit-...|                   9.0|               13.27|                 4.0|      Good|          809.98|      33.053114497012245|             274.0|                   No|  49.57494921489417|High_spent_Medium...|361.44400385378196|
|       3392|   11|24.0| Scientist|     19114.12|   1824.8433333333328|            4.0|          3.0|        4.0|auto loan,credit-...|                   4.0|               12.27|                 4.0|      Good|          809.98|      33.811894118574465|             275.0|                   No|  49.57494921489417|Low_spent_Medium_...|264.67544623342997|
|       3392|   12|24.0| Scientist|     19114.12|   1824.8433333333328|            4.0|          3.0|        4.0|auto loan,credit-...|                   5.0|               11.27|                 4.0|      Good|          809.98|      32.430559017296765|             276.0|                   No|  49.57494921489417|High_spent_Medium...|343.82687322383634|
|       8625|    9|28.0|   Teacher|     34847.84|    3037.986666666666|            4.0|          6.0|        1.0| credit-builder loan|                   1.0|                5.42|                 5.0|      Good|          605.03|       25.92682170377555|             327.0|                   No| 18.816214573128885|High_spent_Large_...| 485.2984336755923|
+-----------+-----+----+----------+-------------+---------------------+---------------+-------------+-----------+--------------------+----------------------+--------------------+--------------------+----------+----------------+------------------------+------------------+---------------------+-------------------+--------------------+------------------+
only showing top 5 rows

In [7]:
train_df.createOrReplaceTempView("train_data_view")

In [13]:
query1 = "SELECT Credit_Score, COUNT(Customer_ID) as Num_Customers FROM train_data_view GROUP BY Credit_Score"
result1 = spark.sql(query1)
result1.show()

+------------+-------------+
|Credit_Score|Num_Customers|
+------------+-------------+
|        Good|        17828|
|        Poor|        28998|
|    Standard|        53174|
+------------+-------------+

In [14]:
query2 = "SELECT Credit_Score, AVG(Age) as Avg_Age FROM train_data_view GROUP BY Credit_Score"
result2 = spark.sql(query2)
result2.show()

+------------+------------------+
|Credit_Score|           Avg_Age|
+------------+------------------+
|        Good| 36.40262508413731|
|        Poor|31.194565142423617|
|    Standard| 33.43867303569414|
+------------+------------------+

In [10]:
spark.sql("SELECT Credit_Score, Outstanding_Debt FROM train_data_view").show()

+------------+----------------+
|Credit_Score|Outstanding_Debt|
+------------+----------------+
|        Good|          809.98|
|        Good|          809.98|
|        Good|          809.98|
|        Good|          809.98|
|        Good|          809.98|
|        Good|          809.98|
|        Good|          809.98|
|    Standard|          809.98|
|    Standard|          605.03|
|        Good|          605.03|
|    Standard|          605.03|
|        Good|          605.03|
|        Good|          605.03|
|        Good|          605.03|
|        Good|          605.03|
|        Good|          605.03|
|        Good|         1303.01|
|        Good|         1303.01|
|        Good|         1303.01|
|        Good|         1303.01|
+------------+----------------+
only showing top 20 rows

In [15]:
query3 = "SELECT Credit_Score, SUM(Outstanding_Debt) as Total_Outstanding_Debt FROM train_data_view GROUP BY Credit_Score"
result3 = spark.sql(query3)
result3.show()

+------------+----------------------+
|Credit_Score|Total_Outstanding_Debt|
+------------+----------------------+
|        Good|  1.4284797740000028E7|
|        Poor|    6.03585586100009E7|
|    Standard|   6.797868125000039E7|
+------------+----------------------+

In [16]:
query4 = "SELECT Credit_Score, AVG(Annual_Income) as Avg_Annual_Income FROM train_data_view GROUP BY Credit_Score"
result4 = spark.sql(query4)
result4.show()

+------------+-----------------+
|Credit_Score|Avg_Annual_Income|
+------------+-----------------+
|        Good|65203.67210539621|
|        Poor|40584.51532519478|
|    Standard|50987.16483967756|
+------------+-----------------+

In [17]:
query5 = "SELECT Credit_Score, MAX(Monthly_Inhand_Salary) as Max_Monthly_Salary FROM train_data_view GROUP BY Credit_Score"
result5 = spark.sql(query5)
result5.show()

+------------+------------------+
|Credit_Score|Max_Monthly_Salary|
+------------+------------------+
|        Good|15204.633333333331|
|        Poor|          15167.18|
|    Standard|15204.633333333331|
+------------+------------------+

In [18]:
query6 = "SELECT Credit_Score, Type_of_Loan, COUNT(Type_of_Loan) as Loan_Count FROM train_data_view GROUP BY Credit_Score, Type_of_Loan ORDER BY Credit_Score, Loan_Count DESC"
result6 = spark.sql(query6)
result6.show()

+------------+--------------------+----------+
|Credit_Score|        Type_of_Loan|Loan_Count|
+------------+--------------------+----------+
|        Good|             No Data|      3444|
|        Good|       mortgage loan|       381|
|        Good|       not specified|       366|
|        Good| credit-builder loan|       363|
|        Good|       personal loan|       360|
|        Good|         payday loan|       358|
|        Good|        student loan|       352|
|        Good|    home equity loan|       345|
|        Good|debt consolidatio...|       331|
|        Good|           auto loan|       314|
|        Good|personal loan,stu...|        90|
|        Good|not specified,pay...|        78|
|        Good|mortgage loan,not...|        75|
|        Good|home equity loan,...|        75|
|        Good|student loan,cred...|        75|
|        Good|payday loan,debt ...|        72|
|        Good|home equity loan,...|        69|
|        Good|home equity loan,...|        67|
|        Good|debt consolidatio...|        64|
|        Good|personal loan,not...|        64|
+------------+--------------------+----------+
only showing top 20 rows

In [20]:
query7 = "SELECT Credit_Score, AVG(Credit_Utilization_Ratio) as Avg_Credit_Utilization FROM train_data_view GROUP BY Credit_Score"
result7 = spark.sql(query7)
result7.show()

+------------+----------------------+
|Credit_Score|Avg_Credit_Utilization|
+------------+----------------------+
|        Good|    32.686107068560666|
|        Poor|    31.986146395633067|
|    Standard|     32.31381994763402|
+------------+----------------------+

In [21]:
query8 = "SELECT Occupation, Credit_Score, AVG(Num_of_Delayed_Payment) as Avg_Delayed_Payments FROM train_data_view GROUP BY Occupation, Credit_Score ORDER BY Occupation, Credit_Score"
result8 = spark.sql(query8)
result8.show()

+------------+------------+--------------------+
|  Occupation|Credit_Score|Avg_Delayed_Payments|
+------------+------------+--------------------+
|        NULL|        Poor|                11.0|
|        NULL|    Standard|                11.0|
|  Accountant|        Good|   8.975103734439834|
|  Accountant|        Poor|  15.549828178694158|
|  Accountant|    Standard|  13.764420331239291|
|   Architect|        Good|   8.739659367396595|
|   Architect|        Poor|  15.888409703504044|
|   Architect|    Standard|   13.41220556745182|
|   Developer|        Good|   8.510743801652893|
|   Developer|        Poor|   16.27858627858628|
|   Developer|    Standard|  13.634132738427217|
|      Doctor|        Good|   8.080756013745704|
|      Doctor|        Poor|  16.134146341463413|
|      Doctor|    Standard|  13.744166666666667|
|    Engineer|        Good|   8.078322784810126|
|    Engineer|        Poor|  15.897325692454633|
|    Engineer|    Standard|  13.528237307472903|
|Entrepreneur|        Good|   8.850632911392404|
|Entrepreneur|        Poor|  15.559272011805215|
|Entrepreneur|    Standard|  13.368513119533528|
+------------+------------+--------------------+
only showing top 20 rows

In [22]:
query9 = "SELECT Occupation, Credit_Score, Type_of_Loan, COUNT(Type_of_Loan) as Loan_Count FROM train_data_view GROUP BY Occupation, Credit_Score, Type_of_Loan ORDER BY Occupation, Credit_Score, Loan_Count DESC"
result9 = spark.sql(query9)
result9.show()

+----------+------------+--------------------+----------+
|Occupation|Credit_Score|        Type_of_Loan|Loan_Count|
+----------+------------+--------------------+----------+
|      NULL|        Poor|student loan,payd...|         2|
|      NULL|    Standard|student loan,payd...|         3|
|Accountant|        Good|             No Data|       219|
|Accountant|        Good|       not specified|        52|
|Accountant|        Good|       mortgage loan|        38|
|Accountant|        Good|        student loan|        32|
|Accountant|        Good|         payday loan|        23|
|Accountant|        Good|mortgage loan,aut...|        15|
|Accountant|        Good|credit-builder lo...|        14|
|Accountant|        Good|not specified,aut...|        13|
|Accountant|        Good| credit-builder loan|        12|
|Accountant|        Good|auto loan,persona...|        12|
|Accountant|        Good|auto loan,payday ...|        12|
|Accountant|        Good|payday loan,home ...|         9|
|Accountant|        Good|       personal loan|         8|
|Accountant|        Good|debt consolidatio...|         8|
|Accountant|        Good|personal loan,pay...|         8|
|Accountant|        Good|not specified,cre...|         8|
|Accountant|        Good|debt consolidatio...|         8|
|Accountant|        Good|credit-builder lo...|         8|
+----------+------------+--------------------+----------+
only showing top 20 rows